VITE_FIRST_NAME=Abubtiyar
VITE_LAST_NAME=Bubur
VITE_OCCUPATION=Senior Backend Engineer
VITE_CITY=R'lyeh
VITE_PHONE=+66 666 66-666-666
VITE_EMAIL=abubtiyar@domain.com
VITE_GITHUB=https://github.com/abubtiyar_bubur
VITE_LINKEDIN=https://linkedin.com/abubtiyar_bubur