@import "tailwindcss";

@font-face {
    font-family: michroma;
    src: url('@/assets/fonts/michroma-regular.ttf');
}

@theme {
    --color-primary: oklch(0.8932 0.1297 90.05);
    --color-secondary: oklch(0.9611 0.1081 103.13);
    --color-accent: oklch(0.7008 0.1324 72.93);
    --color-bg: oklch(0.5301 0.1274 57.32);
    --color-ground: oklch(0.2396 0.0567 38.81);
    --color-faded-triangles: oklch(0.2516 0.0019 106.53);

    --shadow-deus: 0 1px 3px 3px rgba(255, 0, 0, 0.05);
    --inset-shadow-deus: inset 0px 0px 10px 0px rgba(0, 0, 0, 1);
}

body {
    background-color: var(--color-ground);
    color: var(--color-primary);
}

h1, h2, h3, h4 {
    font-family: michroma,serif;
    color: var(--color-secondary);
}

h1 {
    font-size: var(--text-5xl);
}

h2 {
    font-size: var(--text-4xl);
}

h3 {
    font-size: var(--text-3xl);
}

h4 {
    font-size: var(--text-xl);
}

.container {
    display: grid;
    grid-template-columns: 2fr 1.1fr 1fr;
    grid-template-rows: 0.6fr 0.4fr 2.2fr;
    gap: 1em 0;
    grid-template-areas:
    "logo . contacts"
    "topmenu topmenu topmenu"
    "content content content";
    width: 70%;
}

.box {
    margin-top: 48pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    grid-area: logo;
}

.contacts {
    grid-area: contacts;
    background-color: var(--color-bg);
    font-family: michroma,serif;
    text-align: right;
    padding: 8pt;
}

.topmenu {
    grid-area: topmenu;
    background-color: var(--color-bg);
    font-family: michroma,serif;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    gap: 8px;
    font-size: var(--text-xl);
}

.content {
    grid-area: content;
    background-color: var(--color-bg);
    padding: 8pt;
}

:root {
    --tri-w: 60px;
    --tri-h: 52px;
}

.bg-triangles {
    position: absolute;
    filter: blur(2px);
    inset: 0;
}

.tri-row {
    display: flex;
    line-height: 0;
    transform: translateX(calc(var(--tri-w) * -0.5));
}

.tri-row.offset {
    transform: translateX(calc(var(--tri-w) * -1));
}

.tri {
    width: var(--tri-w);
    height: var(--tri-h);
    flex: 0 0 auto;
    display: block;
}

.tri + .tri {
    margin-left: calc(var(--tri-w) * -0.5);
}

.tri {
    fill: var(--color-faded-triangles);
}