@import "tailwindcss";
@import "markdown.css";

@font-face {
    font-family: michroma;
    src: url('@/assets/fonts/michroma-regular.ttf');
}

@theme {
    --color-primary: oklch(0.8932 0.1297 90.05);
    --color-secondary: oklch(0.9611 0.1081 103.13);
    --color-accent: oklch(0.7008 0.1324 72.93);
    --color-bg: oklch(0.5301 0.1274 57.32);
    --color-ground: oklch(0.2396 0.0567 38.81);
    --color-faded-triangles: oklch(0.2516 0.0019 106.53);

    --shadow-deus: 0 1px 3px 3px rgba(255, 0, 0, 0.05);
}

::selection {
    color: var(--color-bg);
    background-color: var(--color-ground);
}

:root {
    --tri-w: 60px;
    --tri-h: 52px;
    --clip-path-sliced: polygon(0 10px,10px 0,calc(100% - 10px) 0,100% 10px,100% calc(100% - 10px),calc(100% - 10px) 100%,10px 100%,0 calc(100% - 10px));
    --blocks-opacity: 95%;
}

body {
    background-color: var(--color-faded-triangles);
    color: var(--color-primary);
    overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: michroma,serif;
    color: var(--color-secondary);
}

h1 {
    font-size: var(--text-5xl);
}

h2 {
    font-size: var(--text-4xl);
}

h3 {
    font-size: var(--text-3xl);
}

h4 {
    font-size: var(--text-xl);
}

a:link {
    text-decoration: underline;
}

a:hover {
    color: var(--color-white);
}

.router-link-active {
    color: var(--color-white);
}

/* Vue Router transitions */

.fade-enter-active {
    animation: fade 0.5s;
}

.fade-leave-active {
    animation: fade 0.5s reverse;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: var(--blocks-opacity);
    }
}

/* grid */

.topmenu a {
    text-decoration-thickness: 2px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr max-content;
    grid-auto-rows: auto;
    gap: 1em 0;
    grid-template-areas:
    "logo logo contacts"
    "topmenu topmenu topmenu"
    "content content content"
    "footer footer footer";
    width: 80%;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
    margin-bottom: 20px;
}

.box {
    margin-top: 48pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    grid-area: logo;
}

.contacts {
    grid-area: contacts;
    background-color: var(--color-bg);
    background-image: url('@/assets/triangle-pattern.svg');
    font-family: michroma,serif;
    text-align: right;
    padding: 8pt;
    clip-path: var(--clip-path-sliced);
    opacity: var(--blocks-opacity);
}

.photo {
    background-color: black;
    background-image: url("@/assets/photo-website.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    clip-path: var(--clip-path-sliced);
}

.topmenu {
    padding: 8px 0 8px 0;
    grid-area: topmenu;
    background-color: var(--color-bg);
    background-image: url('@/assets/triangle-pattern.svg');
    font-family: michroma,serif;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    gap: 8px;
    font-size: var(--text-xl);
    clip-path: var(--clip-path-sliced);
    opacity: var(--blocks-opacity);
}

.content {
    grid-area: content;
    background-color: var(--color-bg);
    background-image: url('@/assets/triangle-pattern.svg');
    padding: 8pt;
    clip-path: var(--clip-path-sliced);
    opacity: var(--blocks-opacity);
}

.footer {
    grid-area: footer;
    background-color: var(--color-bg);
    background-image: url('@/assets/triangle-pattern.svg');
    font-family: michroma,serif;
    text-align: center;
    padding: 8pt;
    clip-path: var(--clip-path-sliced);
    opacity: var(--blocks-opacity);
    margin-left: 10%;
    margin-right: 10%;
}

/* custom container */
.warning {
    background-color: #ff8;
    padding: 20px;
    border-radius: 6px;
}

.github-link {
    color: #333;
}
.github-link:hover {
    color: #000;
}
.github-link svg {
    display: block;
    width: 32px;
    height: 32px;
    fill: currentColor;
}

/* animated triangle background */

.bg-triangles {
    position: absolute;
    filter: blur(4px);
    inset: 0;
}

.tri-row {
    display: flex;
    line-height: 0;
    transform: translateX(calc(var(--tri-w) * -0.5));
}

.tri-row.offset {
    transform: translateX(calc(var(--tri-w) * -1));
}

.tri {
    width: var(--tri-w);
    height: var(--tri-h);
    flex: 0 0 auto;
    display: block;
}

.tri + .tri {
    margin-left: calc(var(--tri-w) * -0.5);
}

/* media queries */

@media (width <= 1084px) {
    .container {
        width: 100vw;
    }
}

@media (width <= 1024px) {
    .container {
        grid-template-areas:
        "logo logo logo"
        "contacts contacts contacts"
        "topmenu topmenu topmenu"
        "content content content"
        "footer footer footer";
    }
}

@media (width <= 640px) {
    .logo {
        margin-left: 10px;
    }

    .topmenu {
        flex-direction: column;
    }
}

@media (width <= 398px) {
    .contacts {
        font-size: 10pt;
    }
}